* {
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;

}
body {
  background-color: black;
}

.container {
  margin: 3% 3% 3% 3%;
}

h1 {
  font-size: 40pt;
}

iframe {
  width:1500px;
  height:655px; 
}
#trailer {
  margin-left: 100px;
}

#Description {
  font-size: 15pt;
  font-weight:bold;
  text-align:left;
  margin: 5% 5% 5% 5%;
}
.category {
  margin-bottom: 20px;
  font-size: 20pt;
}
#ActionSpan {
  color: orange;
}
#DurationSpan {
  color: red;
}
#HDRSpan {
  color: green;
}
th {
  color: red;
  font-size: 40pt;
  padding: 80px 80px;
  
}
.casts {
  justify-content: center;
  display: flex;
  align-items: center;
  
}
#circle {
  height: 150px;
  width: 150px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}
tr, td {
  padding-bottom: 40px;
}
b {
  color: yellow;
}
i {
  color: violet;
}